/*********************************** Toolbar **********************************/
/* hide tabs  */
#titlebar {
    visibility: collapse !important;
}

/* remove url bar background */
#urlbar[breakout] {
    --autocomplete-popup-highlight-background:  var(--lwt-toolbar-field-focus);
}

#urlbar[breakout] > #urlbar-background {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: var(--toolbar-bgcolor) !important;
}

/* hide 'search with' text */
.urlbarView-results > [type="search"] .urlbarView-title-separator,
.urlbarView-results > [type="search"] .urlbarView-action {
    visibility: collapse !important;
}

/* hide toolbar border */
#navigator-toolbox {
    border: none !important;
}

/******************************* Tree Style Tab *******************************/

/* hide header  */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse !important;
}

/* fixed width  */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    min-width: 320px !important;
    max-width: 320px !important;
    border-right: 1px solid ThreeDShadow;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    visibility: collapse !important;
}
