[Unit]
Description=My Events Monitor
After=graphical-session.target

[Service]
ExecStartPre=sleep 5
ExecStart=%h/.local/bin/events-monitor
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
